<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Keep Knowing</h1>
    <hr>
    <h3>Formulario de inclusao de cliente</h3>
    <form action="{% url 'add_clientes' %}" method="POST" enctype="multipart/form-data">  <!-- methods GET POST DELETE OPTIONS> -->
        {% csrf_token %}
        {{ form }}
        <button type="submit">Salvar</button>    
    </form>

</body>
</html>